{% extends "users/base.htm" %}
{% load crispy_forms_tags %}
{% block content %}
  <body>
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Customise Your Registration Form for <b>{{ event.title }}</b></legend>
          <p>Check the fields you want to appear in the registration form</p>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Create Form</button>
        </div>
      </form>
    </div>
  </body>
{% endblock content %}
