{% extends "users/base.htm" %}
{% load crispy_forms_tags %}
{% block content %}
  <body>
    <div class="content-section", enctype="multipart/form-data">
      <h2>       
        {{user.username}}      
      </h2>
      <h5>{{user.email}}</h5>
    </div>
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Profile Info</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
    </form>
  </body>
{% endblock content %}
